
<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Adicionar item</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input name="nome" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Valor</ion-label>
            <ion-input type="valor" name="valor" required></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="navegar()">Salvar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
